### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

binary_wip/
node_modules
out
dist-dev

base_types.json
base_types.ts
schema.min.json

skill-tree-3.25*.json
index-dev.html